<h1>Cadastra uma cozinha</h1>

<%= render partial: 'shared/model_errors', locals: { model: @cuisine } %>

<%= form_for (@cuisine) do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>
