<h1>Cadastra tipo de receita</h1>

<%= render partial: 'shared/model_errors', locals: { model: @recipe_type } %>


<%= form_for (@recipe_type) do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
    <%= f.submit 'Enviar' %>
<% end %>
